body {
  text-align: center;
  display: flex;
  font: 16px/28px arial;
  background-image: url(purty_wood.png);
}

.judul {
  cursor: default;
  margin-top: 20px;
  color: rgb(39, 76, 109);
  font-size: 20px;
}

h1:hover {
  color: rgb(70, 125, 173);
}

.tabel {
  margin: -9px auto;
}

td {
  border: 1px solid black;
}

td:hover {
  cursor: pointer;
  background-color: rgb(190, 166, 113);
  box-shadow: rgb(0 0 0 / 30%) 2px 8px 8px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
}

.foto {
  margin: auto 100px;
}
